.smart-table{
    position: absolute;
    left: 250px;
    /* width: 600px; */
}
:host /deep/ .ng2-smart-sort-link { 
    color:#BA8B00;  
}

:host /deep/ .ng2-smart-pagination-nav{
    margin-left: auto;
    margin-right: auto;
}
:host /deep/ .page-item.active .page-link {
padding-top: 10px;
z-index: 3;
color: black;
background-color: #BA8B00;
border-color: #BA8B00;
}
:host /deep/ .ng2-smart-page-item{
    color: #BA8B00;
}
.add-product{
    background-color: #BA8B00;
    color: black;
}