<div class="text-right pb-2">
  <button *ngIf="!showProduct" class="btn btn-warning border-radius" (click)="addProduct()">Add Product</button>
  <button *ngIf="showProduct" class="btn btn-warning border-radius" (click)="addProduct()">Show List</button>
</div>


<div *ngIf="!showProduct">
  <app-product-list (data)="reciveData($event)"></app-product-list>
</div>

<div *ngIf="showProduct">
  <app-product-details></app-product-details>
</div>