<div class="bg-color">
  <div class="row rowStyleForSignup">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 signup-container">
      <h2 class="text-warning">Reset Password</h2>
      <!-- <p class="text-white pt-5">Login</p> -->
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
          <div class="form-group">
              <label class="text-white">Email</label>
              <input type="text"  class="form-control inputStyleForSignup border-radius bg-dark text-white"  name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email  [disabled]="true" />
              <!-- <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div> -->
          </div>
          <div class="form-group">
            <label class="text-white">Enter New Password</label>
            <input class="form-control inputStyleForSignup border-radius bg-dark text-white " type="password" name="password"  [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6"/>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
            <label class="text-white" >Re-enter Password</label>
            <input type="password" class="form-control inputStyleForSignup border-radius bg-dark text-white" type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
            <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      <div class="text-center">
          <button class="btn btn-warning mr-1">Reset Password</button>
          <button class="btn btn-warning" type="reset">Cancel</button>
      </div>
  </form>

      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3 textColStyleForLogin">
      <div class="card card-length pt-5">
        <div class="card-body card-container">
          <h5 class="card-title"><b>Special title treatment</b> </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Updating...</p>
</ngx-spinner>