<!-- <div *ngIf="optionValue == 'variable'"><div id="collapseData" class="collapse show" aria-labelledby="headingData" data-parent="#accordionData"> -->
<form #myForm="ngForm">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-inventory-tab" data-toggle="pill" href="#v-pills-inventory" role="tab" aria-controls="v-pills-inventory" aria-selected="false">
                        <span class="fa fa-home mr-3"></span>Inventory
                    </a>
                    <a class="nav-link" id="v-pills-shipping-tab" data-toggle="pill" href="#v-pills-shipping" role="tab" aria-controls="v-pills-shipping" aria-selected="false">
                        <span class="fa fa-truck mr-3" data-fa-transform="rotate-90"></span>Shipping
                    </a>
                    <a class="nav-link" id="v-pills-linked-tab" data-toggle="pill" href="#v-pills-linked" role="tab" aria-controls="v-pills-linked" aria-selected="false">
                        <span class="fa fa-link mr-3"></span>Linked Product
                    </a>
                    <a class="nav-link" id="v-pills-attributes-tab" data-toggle="pill" href="#v-pills-attributes" role="tab" aria-controls="v-pills-attributes" aria-selected="false">
                        <span class="fa fa-credit-card mr-2"></span> Attributes
                    </a>
                    <a (click)="getVariation()" class="nav-link" id="v-pills-variation-tab" data-toggle="pill" href="#v-pills-variation" role="tab" aria-controls="v-pills-variation" aria-selected="false">
                        <span class="fa fa-th-large mr-3"></span>Variation
                    </a>
                    <a class="nav-link" id="v-pills-advanced-tab" data-toggle="pill" href="#v-pills-advanced" role="tab" aria-controls="v-pills-advanced" aria-selected="false">
                        <span class="fa fa-cog mr-3"></span>Advanced
                    </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="">SKU </label>
                                </div>
                                <div class="col-8">
                                    <input type="text" (change)="sendData()" name="sku" [(ngModel)]="productVariable.sku">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="">Manage stock?</label>
                                </div>
                                <div class="col-8">
                                    <input type="checkbox" (change)="sendData()" name="manage_stock" [(ngModel)]="productVariable.manage_stock">
                                    <span class="text-size pr-1">Enable stock management at product level</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="">Sold individually</label>
                                </div>
                                <div class="col-8">
                                    <input type="checkbox" (change)="sendData()" name="sold_individually" [(ngModel)]="productVariable.sold_individually">
                                    <span class="text-size pr-1">Enable this to only allow one of this item to be bought in a single order</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-shipping" role="tabpanel" aria-labelledby="v-pills-shipping-tab">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Weight (Kg)</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" (change)="sendData()" name="weight" [(ngModel)]="productVariable.weight">
                                </div>
                            </div>
                        </div>
                        <fieldset ngModelGroup="dimensions">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for=""> Dimensions (cm)</label>
                                    </div>
                                    <div class="col-8" ngDefaultControl (change)="sendData()" ngModelGroup="productVariable.dimensions">
                                        <input type="text" class="m-1" placeholder="Length" (change)="sendData()" name="length" [(ngModel)]="productVariable.dimensions.length">
                                        <input type="text" class="m-1" placeholder="Width" (change)="sendData()" name="width" [(ngModel)]="productVariable.dimensions.width">
                                        <input type="text" class="m-1" placeholder="Height" (change)="sendData()" name="height" [(ngModel)]="productVariable.dimensions.height">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Shipping class</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" (change)="sendData()" name="shipping_class" [(ngModel)]="productVariable.shipping_class">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-linked" role="tabpanel" aria-labelledby="v-pills-linked-tab">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Upsells</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" (change)="sendData()" name="upsell_ids" [(ngModel)]="productVariable.upsell_ids">
                                    <!-- =""-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Cross-sells</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" (change)="sendData()" name="cross_sell" [(ngModel)]="productVariable.cross_sell">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-attributes" role="tabpanel" aria-labelledby="v-pills-attributes-tab">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <select class="custom-option" (change)="addAttribute($event)" name="attribute" [(ngModel)]="productVariable.attributes">
                                          <option value="custom" selected>
                                            <a>Custom product attribute</a>
                                          </option>
                                          <option *ngFor="let attribute of getAttributes" [ngValue]="attribute.id">{{attribute.name}}</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="optionAtt == 'custom'">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                        </div>
                        <div *ngFor="let showDiv of getAttributes">
                            <div *ngIf="productVariable.attributes == showDiv.id">
                                <h4>{{showDiv.name}}</h4>
                                <form [formGroup]="addTerms" (ngSubmit)="onSaveTerms(showDiv.id)">
                                    <div class="row">
                                        <div class="col-sm-6"> Name :</div>
                                        <div class="col-sm-6"> Values</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">{{showDiv.name}}</div>
                                        <div class="col-sm-6">
                                            <ejs-multiselect id='ddlelement' #ddlelement [dataSource]='getAttributesTerms' formControlName="options" [fields]='attFields' [placeholder]='attWaterMark'></ejs-multiselect>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="" id=""> Visible on the product page
                                        </div>
                                        <div class="col-sm-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="" id=""> Used for variations
                                        </div>
                                        <div class="col-sm-6"></div>
                                    </div>
                                    <div>
                                        <button type="submit" (click)="getShow(showDiv.name)">Save Attributes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- div for show ui of color  -->
                        <div *ngIf="editUser">
                            <div *ngFor="let data of recivedData.attributes ">
                                <div class="row">
                                    <div class="col-md-2">
                                        {{data.name}}
                                    </div>
                                    <div class="col-md-10">
                                        {{data.options}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-variation" role="tabpanel" aria-labelledby="v-pills-variation-tab">
                        <div *ngIf="variation === undefined && !editUser">
                            <span>Before you can add a variation you need to add some variation attributes on the btn Attributes tab.</span>
                        </div>
                        <div>
                            <div class="col-12" *ngFor="let variation of variationData;let i = index">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel-heading" role="tab" [id]="'heading'+i">
                                        <h6 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                                                  {{variation}}
                                                </a>
                                        </h6>
                                    </div>
                                    <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
                                        <div class="panel-body">
                                            <fieldset ngModelGroup="productVariable.variation[i]" (change)="sendData()">
                                                <form [formGroup]="uploadForm" (ngSubmit)="addImages(i)">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                                    <img [src]="imageSrc[i]" name="images" alt="" (click)="fileChange.click()" class="img-size" ngDefaultControl>
                                                                    <input #fileChange type="file" ngModelOptions formControlName="image" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files,i)" style="display:none;">
                                                                
                                                                
                                                            
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="submit" class="btn product-btn"> Upload</button>
                                                    </div>
                                                </div>
                                            </form>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label for="sku">SKU</label>
                                                        <input type="text" name="sku" [(ngModel)]="productVariable.variation[i].sku" placeholder="SKU">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="sku">Quantity</label>
                                                        <input type="text" name="quantity" [(ngModel)]="productVariable.variation[i].quantity" placeholder="Quantity">
                                                    </div>

                                                </div>
                                                <div class="row pb-2">
                                                    <div class="col-md-5">
                                                        <label for="">Regular price ($)</label>
                                                        <input type="text" name="regular_price" [(ngModel)]="productVariable.variation[i].regular_price" placeholder="Regular price">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="">Sale price ($)</label>
                                                        <input type="text" name="sale_price" [(ngModel)]="productVariable.variation[i].sale_price" placeholder="Sale price">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- for edit use only -->
                            <div *ngIf="editUser">
                                <div class="col-12" *ngFor="let variation of varData;let i = index">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel-heading" role="tab" [id]="'heading'+i">
                                            <h6 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                                                                 #{{variation.id}}
                                                              </a>
                                            </h6>
                                        </div>
                                        <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
                                            <div class="panel-body">
                                                <fieldset ngModelGroup="productVariable.variation[i]" (change)="sendData()">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <form [formGroup]="uploadForm" (ngSubmit)="addImages(i)">
                                                                <div class="row">
                                                                    <div class="col-3">
                                                                        <img [src]="productVariable.variation[i].image" name="images" alt="" (click)="fileChange.click()" class="img-size" ngDefaultControl>
                                                                        <input #fileChange type="file" ngModelOptions formControlName="image" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files,i)" style="display:none;">
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <button type="submit" class="btn product-btn"> Upload</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="sku">SKU</label>
                                                            <input type="text" name="sku{{i}}" [(ngModel)]="productVariable.variation[i].sku" placeholder="SKU">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-2">
                                                        <div class="col-md-6">
                                                            <label for="">Regular price ($)</label>
                                                            <input type="text" name="regular_price{{i}}" [(ngModel)]="productVariable.variation[i].regular_price" placeholder="Regular price">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">Sale price ($)</label>
                                                            <input type="text" name="sale_price{{i}}" [(ngModel)]="productVariable.variation[i].sale_price" placeholder="Sale price">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- variation end here  -->
                    </div>
                    <div class="tab-pane fade" id="v-pills-advanced" role="tabpanel" aria-labelledby="v-pills-advanced-tab">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Purchase note</label>
                                </div>
                                <div class="col-8">
                                    <textarea (change)="sendData()" name="purchase_note" [(ngModel)]="productVariable.purchase_note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Menu order</label>
                                </div>
                                <div class="col-8">
                                    <input type="number" (change)="sendData()" name="menu_order" [(ngModel)]="productVariable.menu_order">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for=""> Enable reviews</label>
                                </div>
                                <div class="col-8">
                                    <input type="checkbox" (change)="sendData()" name="enable_reviews" [(ngModel)]="productVariable.enable_reviews">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-option" role="tabpanel" aria-labelledby="v-pills-option-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- </div></div> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>