<!-- <div class="header"> 
  <app-header></app-header>
</div>
<div class="sidebar">
  <app-sidebar></app-sidebar>
</div> -->
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis magni ullam reprehenderit 
  quod atque laboriosam eos quia impedit, sequi, totam sit id rerum odio hic, cum voluptates 
  aperiam! Placeat, quo?
</p>