:host /deep/ .ng2-smart-sort-link { 
    color:#BA8B00;  
}

:host /deep/ .ng2-smart-pagination-nav{
    margin-left: auto;
    margin-right: auto;
}
:host /deep/ .page-item.active .page-link {
padding-top: 10px;
z-index: 3;
color: black;
background-color: #BA8B00;
border-color: #BA8B00;
}
:host /deep/ .ng2-smart-page-item{
    color: #BA8B00;
}
.img-size{
    position: relative;
    height: 100px;
    width: 100px;
}
.icon-size{
    position: absolute;
    bottom :5px;
    left: 95px;
}
.box-border{
    border: 1px solid #CED4D9;
    padding: 10px;
    border-radius: 25px;
}


.selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }