<div class="box-border">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 form-group ">
      <div class="row">
        <div class="col-md-3">
          <label for="">Team Name</label>
        </div>
        <div class="col-md-9">
          <input type="text" formControlName="teamName" 
          [ngClass]="{ 'is-invalid': submitted && f.teamName.errors }" 
          class="form-control input_user border-radius  inputStyleForLogin ipHeight" value="" placeholder="Team Name">
          <div *ngIf="submitted && f.teamName.errors" class="invalid-feedback">
            <div *ngIf="f.teamName.errors.required">Team Name is required</div>
          </div>
        </div> 
    </div>
    </div>
    <div class="mb-2 form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="">Team Logo</label>
        </div>
        <div class="col-md-9">
          <img [src]="imageSrc" alt="" class="img-size" ngDefaultControl formControlName="teamLogo" >
          <i class="fa fa-pencil-square-o icon-size" (click)="fileChange.click()">
            <input #fileChange type="file" accept=".png, .jpg, .jpeg" (change)="onFileChange($event)" style="display:none;" />
          </i>
        </div>
      </div> 
    </div>
    <div class="d-flex justify-content-left mt-3">
      <button type="submit" name="button" class="btn btn-warning border-radius">Save</button>
    </div>
  </form> 
</div>
<div class="box-border mt-2">
  <div class="row pb-2">
    <div class="col-md-6">
      <div *ngIf="showPrivilage">
        <h3 class="">Invite Team Memeber </h3>
        </div>
    </div>
    <div class="col-md-6">
      <div class="text-right" *ngIf='!showPrivilage'>
        <button class="btn btn-warning border-radius" (click)="addPrivilage()" aria-hidden="true">Add Member</button>
      </div>
      <div class="text-right" *ngIf='showPrivilage'>
        <i class="fa fa-list-ol fa-lg"  (click)="addPrivilage()" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  

<div *ngIf="!showPrivilage">
  <ng2-smart-table  [settings]="settings" [source]="dataTable" editable="false">
  </ng2-smart-table>
</div>

<div *ngIf="showPrivilage">
  
  <form [formGroup]="priviledgeFrom" (ngSubmit)="onSend()">
    <div class="input-group mb-3 form-group inputGroupStyleForLogin">
      <input type="text" formControlName="memberName" 
      [ngClass]="{ 'is-invalid': submit && s.memberName.errors }" 
      class="form-control input_user border-radius inputStyleForLogin" 
      value="" placeholder="Member Name">
      <div *ngIf="submit && s.memberName.errors" class="invalid-feedback">
        <div *ngIf="s.memberName.errors.required">Member Name is required</div>
      </div>
    </div>
    <div class="input-group mb-3 form-group inputGroupStyleForLogin">
      <input type="text" formControlName="memberEmail" 
      [ngClass]="{ 'is-invalid': submit && s.memberEmail.errors }" 
      class="form-control input_user border-radius inputStyleForLogin"
       value="" placeholder="Enter Email Here">
      <div *ngIf="submit && s.memberEmail.errors" class="invalid-feedback">
        <div *ngIf="s.memberEmail.errors.required">Email is required</div>
      </div>
    </div>
    <div class="input-group mb-3 form-group inputGroupStyleForLogin">
      <select multiple class="custom-select" formControlName="priviledges">
        <option *ngFor="let city of City" [ngValue]="city" >{{city}}</option>
      </select>
     </div>
    
    <div class="d-flex justify-content-left mt-3">
      <button type="submit" name="button" class="btn btn-warning border-radius">Save</button>
    </div>
  </form>
</div>
</div>