.rowStyleForBreadcrumb{
    margin-right: 0;
    margin-left: 0;
}

.colStyleForBreadcrumb{
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
}

.colMd1StyleForBreadcrumb{
    padding-left: 0;
    padding-right: 26%;
    background-color: #e9ecef;
    height: 48px;
}

.breadcrumb{
    border-radius: 0 !important;
    height: 48px;
}

.iconStyleForBreadcrumb{
    padding-top: 15px;
    padding-left: 268px;
    justify-content: right;
}

@media only screen and (max-width: 767px){
 
    breadcrumb{
        display: none;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .colMd1StyleForBreadcrumb{
        padding-left: 0;
        padding-right: 15.5%;
        background-color: #e9ecef;
        height: 48px;
    }

    .iconStyleForBreadcrumb{
        padding-top: 15px;
        padding-left: 51px;
        justify-content: right;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .colMd1StyleForBreadcrumb{
        padding-left: 0;
        padding-right: 22%;
        background-color: #e9ecef;
        height: 48px;
    }

    .iconStyleForBreadcrumb {
        padding-top: 15px;
        padding-left: 162px;
        justify-content: right;
    }
}

/* @media only screen and (max-width: 1365px) and (min-width: 1201px) {
    .colMd1StyleForBreadcrumb{
        padding-left: 0;
        padding-right: 15.5%;
        background-color: #e9ecef;
        height: 48px;
    }
} */