<!-- <p>
  breadcrumb works!
</p> -->

<breadcrumb #parent>  
  <div class="row rowStyleForBreadcrumb">
    <div class="col-md-7 colStyleForBreadcrumb">
      <ol class="breadcrumb">
        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
          <li *ngIf="!route.terminal" class="breadcrumb-item">
            <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
          </li>
          <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
          <li class="text-right"> 
            
          </li>
        </ng-template>
      </ol>
    </div>
    <div class="col-md-1 colMd1StyleForBreadcrumb" >
      <div class=" breadcrum-btn" *ngIf="router.url.includes('product')">
        <span *ngIf="isShow">
          <i class="fa fa-th fa-lg iconStyleForBreadcrumb" aria-hidden="true" (click)=toggleBtn()></i>
        </span>
        <span *ngIf="!isShow">
          <i class="fa fa-list-ol fa-lg iconStyleForBreadcrumb" aria-hidden="true" (click)=toggleBtn()></i>
        </span>
      </div>
      </div>

  </div>
</breadcrumb>