<div class="modal custom fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content" *ngFor="let product of products">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">{{product.title}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6 ">
										<img class="card-size" src={{imageSrc}} alt="Some" >
											<div class="row p-3">
												<div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<ul >
														<li *ngFor="let imageButton of imageButtons; let i = index" 
                               								(click)="onClick(imageButton)"  >
															<img src="{{imageButton.src}}" [ngClass]="{'active-img': imageButton.active}" alt="">
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<p>{{product.detail}}</p>
												<p>
													<i class="fa fa-star-o"></i>
													<span>{{product.review}} Reviews</span>
												</p>
												<p>${{product.price}} 
													<small>Ships for free</small>
												</p>
												<p>Color: {{product.color}}</p>
												<div class="row p-2">
													<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                          							  (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
														<div ngxSlickItem *ngFor="let slide of slides" class="slide" (click)="clicked(slide.img)">
															<img src="{{slide.img}}" alt="" width="100%">
															</div>
														</ngx-slick-carousel>
													</div>
													<div class="row">
														<div class="form-group col-md-6">
															<label for="inputState">Size & Width</label>
															<select id="inputState" class="form-control">
																<option selected>Choose...</option>
																<option>S</option>
																<option>M</option>
																<option>L</option>
															</select>
														</div>
														<div class="col-md-6">
															<label for="QTY">QTY</label>
															<div>
																<button (click)="increment()">+1</button>
																<button> {{count}}</button>
																<button (click)="decrement()">-1</button>
															</div>
														</div>
													</div>
													<div class="p-2">
														<a  class="btn btn-warning form-control"> + {{product.button}}</a>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="card card-font">
																<i class="fa fa-heart-o">
																	<span class="pl-1">Add to WishList</span>
																</i>
															</div>
														</div>
														<div class="col-md-4">
															<div class="card card-font">
																<i class="fa fa-eye">
																	<span class="pl-2">Compare</span>
																</i>
															</div>
														</div>
														<div class="col-md-4">
															<div class="card card-font">
																<i class="fa fa-share-alt">
																	<span class="pl-2">Share</span>
																</i>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>