.viewBtn{
    background-color: aquamarine;
}
.img-size{
    width: 287px;
    height: 200px;
}
/* Modal Css */
.popup{
    width: 900px;
    height: 400px;
}
.modal.custom .modal-dialog {
    width:90%;
    margin:0 auto;
    /*add what you want here*/
}
.card-size{
    width: auto;
    height: 350px;
}
.row li {
    width: 20%;
    float: left;
    list-style-type: none;
    padding-right: 10px;
  }
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .card-font{
      font-size: 10px;
      padding:5px;
      height: 25px;
  }

  .slick-slider {
    width: 80%;
    margin: auto;
    /* background: #000; */
  }
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  :host /deep/ .slick-prev:before{
      color: #E0A800;
      top: 50%;
  }
  :host /deep/ .slick-next:before{
    color: #E0A800;
    top: 50%;
}
  /* .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .prev-slide {
    background: url("/src/assets/images/nav-icon.png") no-repeat scroll 0 0;
    left: -33px;
  }
  
  .next-slide {
    background: url("/src/assets/images/nav-icon-right.png") no-repeat scroll -24px 0px;
    right: -33px;
  } */
  
  /* .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  } */
  /* .slide{
      height: 100px;
      width: 150px;
  } */
  .active-img{
    border: #E0A800 2px solid;
  }
  /* second screen  */
  .img-inline{
    display:block;
    /* vertical-align: middle; */
    float:none;
  }
.side-img{
width: 50px;
height: 50px;
}
.zoom-img{
  height: 310px;
}
.remove-space{
  margin-bottom: 0px;
  margin-top: 5px;
}
.btn-theme{
  background-color: #E9ECEF(129, 131, 131);
  border: 1px solid black;

}
