<div class="row" >
	<div class="col-md-4 pb-2" *ngFor="let card of cards">
		<div class="card text-center" style="width: 18rem;">
			<div class="row p-1">
				<div class="col-md-4">
          <h5 class="card-title text-left">{{card.title}}</h5>
          <!-- <label for="">#{{card.selectedItem}}</label> -->
          
				</div>
				<div class="col-md-8">
					<label class="radio-inline pr-3">
						<input type="radio" name="optradio" checked>Choose
          </label>
          
						<a  class="btn btn-warning border-radius" data-toggle="modal" [attr.data-target]="'#'+ card.selectedItem">view</a>
					</div>
				</div>
				<img class="card-img-top img-size text-center" [src]="card.image" alt="Card image cap">
				</div>
			</div>
			<!-- <div class="mx-auto pt-2 pl-0"><pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls></div> -->
    </div>
          <!-- Modal for Pt001  -->

    <div class="modal custom fade" id="pt001" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" *ngFor="let product of products">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{product.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 ">
                  <img class="card-size" src={{imageSrc}} alt="Some" >
                    <div class="row p-3">
                      <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul >
                          <li *ngFor="let imageButton of imageButtons; let i = index" 
                                             (click)="onClick(imageButton)"  >
                            <img src="{{imageButton.src}}" [ngClass]="{'active-img': imageButton.active}" alt="">
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p>{{product.detail}}</p>
                      <p>
                        <i class="fa fa-star-o"></i>
                        <span>{{product.review}} Reviews</span>
                      </p>
                      <p>${{product.price}} 
                        <small>Ships for free</small>
                      </p>
                      <p>Color: {{product.color}}</p>
                      <div class="row p-2">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                                        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                          <div ngxSlickItem *ngFor="let slide of slides" class="slide" (click)="clicked(slide.img)">
                            <img src="{{slide.img}}" alt="" width="100%">
                            </div>
                          </ngx-slick-carousel>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="inputState">Size & Width</label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>S</option>
                              <option>M</option>
                              <option>L</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="QTY">QTY</label>
                            <div>
                              <button (click)="increment()">+1</button>
                              <button> {{count}}</button>
                              <button (click)="decrement()">-1</button>
                            </div>
                          </div>
                        </div>
                        <div class="p-2">
                          <a  class="btn btn-warning form-control"> + {{product.button}}</a>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="card card-font">
                              <i class="fa fa-heart-o">
                                <span class="pl-1">Add to WishList</span>
                              </i>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card card-font">
                              <i class="fa fa-eye">
                                <span class="pl-2">Compare</span>
                              </i>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card card-font">
                              <i class="fa fa-share-alt">
                                <span class="pl-2">Share</span>
                              </i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		<!-- Modal for View Button Pt002 -->
			<div class="modal custom fade" id="pt002" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content" *ngFor="let product of products">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Pt002</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Quilted Quarter-Zip Pullover</h4>
                  </div>
                  <div class="col-md-12">
                    <span>Item #2154856</span>
                    <i class="fa fa-star-o pl-3"></i>
                    <i class="fa fa-star-o pl-1"></i>
                    <i class="fa fa-star-o pl-1"></i>
                    <i class="fa fa-star-o pl-1"></i>
                    <i class="fa fa-star-o pl-1"></i>

                    <span class="pl-3"> 215 : Reviews</span>
                  </div>
                  
                </div>
                <div class="row pt-3">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                            <div *ngFor="let imageButton of imageButtons; let i = index" (click)="onClick(imageButton)" >
                              <img src="{{imageButton.src}}" class="p-2" alt="">
                            </div>
                            
                      </div>
                      <div class="col-md-9">
                        <img src="{{imageSrc}}" class="zoom-img" alt="">
                        <div class="row">
                          <!-- <i class="fa fa-plus-circle"></i> -->
                          <!-- <p>Tab image to zoom</p> -->
                        </div>
                      </div>
                      
                      
                      </div>
                  </div>
                  <div class="col-md-6">
                    <p>$ 200 <small>Free Shipping upto $50</small></p>
                    <p class="remove-space">Item: Regular</p>
                    <button class="btn-theme">Regular</button>
                    <button class="m-1 btn-theme">Casual</button>
                    <button class="m-1 btn-theme">Plus</button>
                    <div>
                      <p class="remove-space">size</p>
                      <button class="btn-theme">X-Small</button>
                      <button class="m-1 btn-theme">Small</button>
                      <button class="m-1 btn-theme">Medium</button>
                      <button class="m-1 btn-theme">Large</button>
                      <button class="btn-theme">X-Large</button>
                    </div>
                    <div>
                      <p class="remove-space">Color</p>
                      <button class="m-1 bg-danger btn"></button>
                      <button class="m-1 bg-warning btn"></button>
                      <button class="m-1 bg-success btn" ></button>
                      <button class="m-1 bg-primary btn"></button>
                      <button class="m-1 bg-warning btn"></button>
                      <button class="m-1 bg-success btn" ></button>
                      <button class="m-1 bg-primary btn"></button>
                    </div>
                    <div>
                      <label for="" class="pr-2">Quantity</label>
                      <input type="number" name="" value="0" id="">
                    </div>
                    <div class="m-3">
                      <a  class="btn btn-warning"> Add to Bag</a>
                      <a href="" class="pl-4">Add to Wish List</a>
                    </div>
                  </div>
       
                </div>
										</div>
									</div>
								</div>
							</div>
						</div>


            <ul [ngSwitch]="'pt001'">
              <li *ngSwitchCase="'pt001'"><app-pt001> </app-pt001></li>
              <li *ngSwitchCase="'pt002'"><app-pt002> </app-pt002></li>
              <li *ngSwitchCase="'pt003'"><app-pt003> </app-pt003></li>
              <li *ngSwitchCase="'pt004'"><app-pt004> </app-pt004></li>
            </ul>  
            