<!-- <div class="col-md-4"> -->
<div class="row pb-3">
    <div class="col-12">
        <div id="accordionone">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Publish
            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionone">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn product-btn" (click)="saveDraft()">Save Draft</button>
                            </div>
                            <div class="col-6 text-right">
                                <button class="text-right btn product-btn">Preview</button>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <ul>
                                <li>
                                    <i class="fa fa-map-pin product-color"></i><span class="product-color">Status:</span>Draft<span><a href="#" class="primary-color">edit</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-eye product-color"></i><span class="product-color">Visibility:</span>Public<span><a href="#" class="primary-color">edit</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-minus-o product-color"></i><span class="product-color">Publish:</span>immediately<span><a href="#" class="primary-color">edit</a></span>
                                </li>
                                <li>
                                    <span class="product-color">Catalog visibility :</span>Shop and search results<a href="#" class="primary-color">edit</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- second -->
<div class="row pb-3">
    <div class="col-12">
        <div id="accordionTwo">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Product Categories 
          </button>
                        </h5>
                    </div>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                    <div class="card-body">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                All Categories
              </a>
                                <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                Most Used
              </a> -->
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <ul class="checkbox-items">
                                    <li *ngFor="let category of getData;let i=index">
                                        <input type="checkbox" [checked]=category.isChecked (click)="clickCategory(category.id)" class="mr-2">{{category.name}}
                                    </li>
                                </ul>
                                <p>Booster</p>
                            </div>
                            <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          
          
            </div> -->
                            <a class="primary-color" (click)="openCategory()">+ Add New category</a>
                            <div *ngIf="addCategory">
                                <form [formGroup]="addCategories" (ngSubmit)="addNewCategory()">
                                    <div class="form-group">
                                        <input type="text" formControlName="name" [(ngModel)]="newCategory">
                                    </div>

                                    <div>
                                        <select class="select-size">
                    <option *ngFor="let category of categories">{{category}}</option>
                  </select>
                                    </div>
                                    <div class="pt-2">
                                        <button class="btn btn-warning " type="submit">Add New category</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- third -->
<div class="row pb-3">
    <div class="col-12">
        <div id="accordionThird">
            <div class="card">
                <div class="card-header" id="headingThird">
                    <div data-toggle="collapse" data-target="#collapseThird" aria-expanded="true" aria-controls="collapseThird">
                        <h5 class="mb-0">
                            <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseThird" aria-expanded="true" aria-controls="collapseThird">
           Product tags
         </button>
                        </h5>
                    </div>
                </div>

                <div id="collapseThird" class="collapse show" aria-labelledby="headingThird" data-parent="#accordionThird">
                    <div class="card-body">
                        <!-- <div>
          <input type="text" name="tags" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" id="" placeholder="Enter Tag here">
          <label for="" class="pl-2" (click)="addTag()">Add</label>
         </div>  
        <div>
          <a href="">Choose from the most used tags</a>
        </div>
        {{addTags}} -->
                        <ejs-multiselect id='sample-list1' [dataSource]='sportsData' [fields]='fields' [placeholder]='waterMark' [value]="value"></ejs-multiselect>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- four -->

<div class="row pb-3">
    <div class="col-12">
        <div id="accordionFour">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
           Product image
         </button>
                        </h5>
                    </div>
                </div>

                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionFour">
                    <div class="card-body">
                        <form [formGroup]="uploadForm" (ngSubmit)="addImages()">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="imageSrc" alt="" class="img-size" (click)="fileChange.click()">
                                    <input #fileChange type="file" name="profile" accept=".png, .jpg, .jpeg" (change)="onFileChange($event)" style="display:none;">
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn product-btn"> Add Image</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- five -->

<div class="row">
    <div class="col-12">
        <div id="accordionFive">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <div data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
           Product Gallery
         </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseFive" class="collapse show primary-color" aria-labelledby="headingFive" data-parent="#accordionFive">
                    <div class="card-body">
                        <a href="" class="primary-color">Add Product imgages Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- last -->
<!-- </div> -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>