.card-header{
    padding: 0px;
}
.product-btn{
    background-color: #DFA934;
    border-radius: 50px;
}
.product-color{
    color: #82878C;
}
.text-size{
    font-size: 10px;
    padding-right: 5px;
}
.select-size{
    width: 209px;
    height: 30px;
}
.custom-option{
    height: 30px;
    color: #007bff;
    font-size: 16px;
    border: 1px solid lightblue;
}
.img-size{
    height: 100px;
    width: 100px;
}