    /* Coded with love by Mutiullah Samim */
    
    .rowStyleForLogin{
        margin-left: 0 !important;
        margin-right: 0  !important;
    }

    .fromColStyleForLogin{
        padding-top: 110px;
        padding-left: 100px;
        padding-right: 0;
    }

    .textColStyleForLogin{
        padding-left: 0;
    }

    .inputGroupStyleForLogin{
        width: 90%;
    }

    .inputStyleForLogin{
        border: #343a40;
        border-radius: 2rem;
    }

    .input-group>.form-control:not(:last-child) {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .inputStyleForLogin:focus{
        box-shadow: 0 0 0 0.0rem #343a40;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 65px;
    }
    /* .form_container {
        margin-top: 100px;
    } */
    .login_btn {
        width: 50%;
        background: #FAC008 !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    
    .card-length{
      width: 550px;
      height: 600px;
    }
    .bgStyleForLogin{
        background-color: black;
        max-height: 100vh;
        height: 650px;
    }


    @media only screen and (max-width: 319px) and (min-width: 280px) {
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }
   

    @media only screen and (max-width: 374px) and (min-width: 320px) {
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }

    @media only screen and (max-width: 410px) and (min-width: 375px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 33px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }

    @media only screen and (max-width: 413px) and (min-width: 411px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }

    @media only screen and (max-width: 567px) and (min-width: 414px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }

    @media only screen and (max-width: 639px) and (min-width: 568px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }

        .bgStyleForLogin{
            background-color: black;
            max-height: 100%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 730px) and (min-width: 640px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }

        .bgStyleForLogin{
            background-color: black;
            max-height: 100%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 767px) and (min-width: 731px){
        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            padding-right: 0;
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }

        .bgStyleForLogin{
            background-color: black;
            max-height: 100%;
            height: 100%;
        }
    }


    @media only screen and (max-width: 1023px) and (min-width: 768px){

        .rowStyleForLogin {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-top: 10%;
        }

        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            /* padding-right: 0; */
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }

    @media only screen and (max-width: 1365px) and (min-width: 1024px){

        .rowStyleForLogin {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-top: 8%;
            padding-left: 3%;
            padding-right: 3%;
        }

        .fromColStyleForLogin{
            padding-top: 70px;
            padding-left: 30px;
            padding-bottom: 28px;
        }

        .card-length{
            width: 100%;
            height: 100%;
        }

    
        .inputStyleForLogin{
            border: #343a40;
            box-shadow: #343a40;
        }

        .inputStyleForLogin:focus{
            box-shadow: 0 0 0 0.0rem #343a40;
        }

        .textColStyleForLogin{
            padding-left: 0;
            /* padding-right: 0; */
        }

        .card-container{
            padding-top: 110px;
            padding-left: 18px;
        }
    }


