<div class="bgStyleForLogin">
  <div class="row rowStyleForLogin">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fromColStyleForLogin">
      <h2 class="text-warning">App Name</h2>
      <p class="text-white pt-5">Login</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 form-group inputGroupStyleForLogin">
          <input type="text" formControlName="email" 
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
          class="form-control input_user bg-dark text-white inputStyleForLogin" value="" placeholder="username">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">User Name is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="input-group mb-2 form-group inputGroupStyleForLogin">
          <input type="password"  class="form-control bg-dark text-white inputStyleForLogin"
          formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          value="" placeholder="password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>

        <div class="row rowStyleForLogin">
          <div class="col-lg-9 col-md-8 col-sm-9 col-xs-9">
            <div class="form-group">
              <a routerLink="/resetEmail"class="text-warning">Forgot password?</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
            <div class="form-group">
              <a routerLink="/signUp" class="text-warning">Sign-Up</a>
            </div>
          </div>
        </div>
        
          <div class="d-flex justify-content-left mt-3">
            <button type="submit" name="button" class="btn login_btn border-radius">Contiune</button>
          </div>
      </form>
      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3 textColStyleForLogin">
      <div class="card card-length pt-5">
        <div class="card-body card-container">
          <h5 class="card-title"><b>Special title treatment</b> </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>