.smart-table{
    position: absolute;
    left: 250px;
    /* width: 600px; */
}
:host /deep/ .ng2-smart-sort-link { 
    color:#BA8B00;  
}

:host /deep/ .ng2-smart-pagination-nav{
    margin-left: auto;
    margin-right: auto;
}
:host /deep/ .page-item.active .page-link {
padding-top: 10px;
z-index: 3;
color: black;
background-color: #BA8B00;
border-color: #BA8B00;
}
:host /deep/ .ng2-smart-page-item{
    color: #BA8B00;
}
.pre-btn{
    background-color: #FFD24B;
    border-radius: 50px;
    margin: 10px;
}
@media screen and(max-width: 575.98px) {  }

/* // Small devices (landscape phones, 576px and up) */
@media screen and(min-width: 576px) and (max-width: 767.98px) {
    .title-text{
        font-size: 15px;
    }
  }

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media  screen and (min-width: 992px) and (max-width: 1199.98px) {

  }

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  }