<div class="container">
  <div class="row">

    <div class="col-md-12" id="content" #content>
      <h3 class="mx-auto">Invoice</h3>
      <p>Billing Date : {{myDate | date:'MMM d, y, h:mm a'}}</p>
      <div class="row">
        <div class="col-md-6">
          <h4>Billing Address</h4>
          <p>Name: {{addressData?.billing.first_name + ' '+ addressData?.shipping.last_name}}</p>
          <p>Address: {{addressData?.billing.address_1}}</p>
          <p>PostCode: {{addressData?.billing.postcode}}</p>
        </div>
        <div class="col-md-6">
          <h4>Shipping Address</h4>
          <p>Name: {{addressData?.shipping.first_name + ' '+ addressData?.shipping.last_name }}</p>
          <p>Address: {{addressData?.shipping.address_1}}</p>
          <p>PostCode: {{addressData?.shipping.postcode}}</p>
        </div>

      </div>
      <table class="table table-bordered table-striped">
        <tr class="thead-dark">
          <th>SKU</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price ($)</th>
        </tr>
        <tr *ngFor="let user of tables">
          <th>{{user.line_items[0].sku}}</th>
          <td>{{user.line_items[0].name}}</td>
          <td>{{user.line_items[0].quantity}}</td>
          <td>{{user.line_items[0].price}}</td>
        </tr>
      </table>
      <div class="text-right">
        <p>SubTotal: $ {{subTotal}}</p>
        <hr>
        <p>Discount: $ {{discount}}</p>
        <hr>
        <p>Shipping: $ {{shipping}}</p>
        <hr>
        <p>State Tax: $ {{stateTax}}</p>
      </div>
    </div>
  </div>

    <div class="row pb-5">

      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="openPDF()">Open PDF</button>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-danger btn-block" (click)="SavePDF()">Download PDF</button>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-info btn-block" printSectionId="content" ngxPrint>Print</button>
      </div>

    </div>

  
</div>