<div class="smart-table" *ngIf="!showTable">
  <ng2-smart-table  [settings]="settings" [source]="dataTable" editable="false">
  </ng2-smart-table>
</div>
<div *ngIf="showTable" class="pl-3"> 
  <div class="row pb-2 " >
    <div class="col-md-4" *ngFor="let data of dataTable | paginate: { itemsPerPage: 3, currentPage: p} let i = index">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top img-size text-center" [src]="data.images[0].src" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{data.name}}</h5>
          <p>${{data.price}}</p>
          <div class="row">
            <div class="col-md-4">
             <a class="btn btn-warning border-radius" data-toggle="modal" [attr.data-target]="'#collapse'+data.id">View</a>
            </div>
            <div class="col-md-4">
             <a class="btn btn-warning border-radius" (click)="editData(data)">Edit</a>
            </div>
            <div class="col-md-4">
              <a class="btn btn-warning border-radius" id="openOrderModal"  data-toggle="modal" data-target="#myModal">Delete</a>
             </div>
          </div>
        </div> 
      </div>
<!-- for model section  -->
      <div class="modal fade" [id]="'collapse'+data.id"  role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{data.type | titlecase}}</h5>
              <button type="button" (click)="clearImg()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body bg-light">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="row p-3" *ngIf="data.type==='variable'">
                        <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <ul class="p-0">
                            <li *ngFor="let image of data.images; let i = index">
                              <img [src]="image.src" (click)="changeImg(image.src)" alt="" class="small-img p-2">
                            </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <img [src]="mainImg == null ? data.images[0].src : mainImg"  alt="" class="model-img">
                    </div>

                  </div>
                

                </div>
                <div class="col-md-6">
                  <p> <span class="text-warning">Product Name:</span>  {{data.name}}</p>
                  <p> <span class="text-warning">Price:</span> ${{data.price}}</p>
                  <p class="d-flex"><span class="text-warning">Description: </span> <span [innerHTML]="data.description"></span></p>   
                  <div *ngIf="data.type==='variable'">
                    <div *ngFor="let attribute of data.attributes">
                      <p class="mb-0 text-warning">{{attribute.name}}</p>
                      <!-- <select>
                        <option value="">Choose an option</option>
                        <option *ngFor="let option of attribute.options">{{option}}</option>
                      </select> -->
                      <button *ngFor="let option of attribute.options" class="m-1">{{option}}</button>
                    </div>
                  </div>
                  <p> <span class="text-warning">SKU:</span> {{data.sku}}</p>
                  <div *ngFor="let category of data.categories">
                    <p> <span class="text-warning">Category:</span> {{category.name}}</p>
                  </div>
                   <!-- <p>Decsription</p> -->
                   <p class="d-flex"><span class="text-warning"> Short Description:</span><span [innerHTML]=" data.short_description"></span></p>
                  
                </div>

              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apps Platform</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Are you sure you want to delete?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)=deleteData(data.id) data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
    </div>
  <div class="mx-auto pt-2 pl-0">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>