.my-pagination /deep/ .ngx-pagination .current{
    background-color: #BA8B00;
    color: black;
 }

 .img-size{
     width: 286px;
     height: 250px;
 }
 .model-img{
     width: 250px;
     height: 300px;
 }
 .small-img{
    width: 50px;
    height: 50px;   
 }