<div class="text-right pb-2" *ngIf="!showPlatfrom">
  <button class="btn btn-warning border-radius" (click)="addPlatfrom()">Add PlatFrom</button>
</div>
<div class="text-right pb-2" *ngIf="showPlatfrom">
  <button class="btn btn-warning border-radius" (click)="addPlatfrom()">Platfrom List</button>
</div>
<div *ngIf="!showPlatfrom">
  <ng2-smart-table  [settings]="settings" [source]="dataTable" editable="false" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
  </ng2-smart-table>
</div>

<div *ngIf="showPlatfrom">
  <app-app-platfrom></app-app-platfrom>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apps Platform</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Are you sure you want to delete?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)=deleteData(true) data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>