<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3 form-group inputGroupStyleForLogin">
      <select class="form-control custom-select border-radius" formControlName="platformId">
        <option disabled>Select</option>
        <option value="Ebay">Ebay</option>
        <option value="Amazon">Amazon</option>
        <option value="WooCommerce">WooCommerce</option>
      </select>
      
  </div>
  <div class="input-group mb-3 form-group inputGroupStyleForLogin">
    <input type="text" formControlName="appKey" 
    [ngClass]="{ 'is-invalid': submitted && f.appKey.errors }" 
    class="form-control input_user border-radius inputStyleForLogin" value="" placeholder="Appkey">
    <div *ngIf="submitted && f.appKey.errors" class="invalid-feedback">
      <div *ngIf="f.appKey.errors.required">App-key is required</div>
    </div>
  </div>
  <div class="input-group mb-2 form-group inputGroupStyleForLogin">
    <input type="text"  class="form-control border-radius inputStyleForLogin"
    formControlName="secrectKey" [ngClass]="{ 'is-invalid': submitted && f.secrectKey.errors }"
    value="" placeholder="SecertKey">
      <div *ngIf="submitted && f.secrectKey.errors" class="invalid-feedback">
        <div *ngIf="f.secrectKey.errors.required">Secret Key is required</div>
      </div>
  </div>
  <div class="d-flex justify-content-left mt-3">
    <button type="submit" name="button" class="btn btn-warning border-radius">Add</button>
  </div>
</form>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>