<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex justify-content-between w-100">
    <div>
      <a class="navbar-brand text-warning" href="#">App Name</a>
    </div>

    <form class="form-inline my-2 my-lg-0 mx-auto">
      <input class="form-control search-input border-radius" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div>
      <div class="collapse navbar-collapse pl-5 ">
        
        <ul class="nav navbar-nav navbar-right">
          <li><i class="fa fa-question-circle pr-4 fa-lg text-white" aria-hidden="true"></i></li>
          <li><i class="fa fa-envelope pr-4 fa-lg text-white" aria-hidden="true"></i></li>
          <li><i class="fa fa-bell-o pr-4 fa-lg text-white" aria-hidden="true"></i></li>
          <li><i class="fa fa-user-circle pr-4 fa-2x text-white" aria-hidden="true"></i></li>

        </ul>

      </div>

      <div class="col-md-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto size d-none">
            <li class="nav-item dropdown nav-size pr-3 ">
              <button class="border-radius bg-dark text-white button-size">All WorkSpace</button>
            </li>
            <li class="nav-item nav-size ">
              <button class="border-radius bg-dark text-white sort-button">Sort By</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right text-white nav-pos">
            <li class="pr-2">simple </li>
            <li class="pr-2"> spending</li>
            <li class="logout-btn" (click)="signOut()"><a>LogOut</a></li>
          </ul>
  
        </div>
      </div>
    </div>

  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
  
</nav> -->