.search-input{
    width: 350px;
    /* padding-left: 50px; */
}
.button-size{
    width: 200px;
    border: 1px solid #BA8B00;
    padding-right: 70px ;
}
.sort-button{
    width: 130px;
    border: 1px solid #BA8B00;
    padding-right: 50px;

}
.logout-btn{
    cursor: pointer;
}
.nav-pos{
margin-left: auto;
}
.size{
    padding-left:200!important;

}

@media screen and (max-width: 990px) {
    form{
        display: none;
    }
}