
<div class="bgStyleForLogin">
  <div class="container pt-4">
    <i class="fa fa-arrow-left text-warning" routerLink="/login"></i>
  </div>
  <div class="row rowStyleForLogin">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fromColStyleForLogin">
      <h2 class="text-warning">Reset Password</h2>
      <p class="text-white pt-5">Verify Email</p>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 form-group inputGroupStyleForLogin">
          <input type="text" formControlName="email" 
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
          class="form-control input_user bg-dark text-white inputStyleForLogin" value="" placeholder="Enter register email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email address is requried</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        
        <div class="d-flex justify-content-left mt-3">
          <button type="submit" name="button" class="btn login_btn border-radius">Reset Password</button>
        </div>
      </form>
      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3 textColStyleForLogin">
      <div class="card card-length pt-5">
        <div class="card-body card-container">
          <h5 class="card-title"><b>Special title treatment</b> </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Sending...</p>
</ngx-spinner>