.containerFluidStyle{
    padding-left: 0;
    padding-right: 0;
}

.inputStyle{
    border: #343a40 !important;
}

.inputStyle:focus{
    box-shadow: 0 0 0 0.0rem #343a40 !important;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* input .inputStyle:focus{
    box-shadow: 0 0 0 0.0rem #343a40 !important;
    border: #343a40;
} */

@media only screen and (min-width: 300px) {
    .bg-color{
        background-color: black;
        max-height: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {
    .bg-color{
        background-color: black;
        max-height: 100%;
        height: 650px;
    }
}