.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .routAct{
    background-color: #BA8B00;
    color: white;
  }
  .breadcrum-btn {
    top: -40px;
    position: relative;
    text-align: right;
    padding-right: 2%;
  }
  .breadcrumb-pos{
    padding-left: 200px;
  }
  .postion{
    position: relative;
    left: 200px;
  }
  .primary-color{
    color: black;

  }
@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
  .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    top:58px;
    height: 100%;
    overflow: auto;
  }    
}

@media only screen and (max-width: 1365px) and (min-width: 1024px) {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    top:74px;
    height: 100%;
    overflow: auto;
  } 
}