<nav aria-label="breadcrumb" class="breadcrumb-pos">
 
 
  

</nav>
<div class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li class="active" >
      <a routerLink="home" routerLinkActive="routAct"><span class="fa fa-home mr-3"></span> Home</a>
    </li>
    <li>
      <a routerLink="app" routerLinkActive="routAct"><span class="fa fa-mobile mr-3"></span>Apps</a>
  </li>
    <li>
        <a routerLink="product" routerLinkActive="routAct" (click)="showProduct()"><span class="fa fa-user mr-3"></span> Product</a>
    </li>
    <li>
      <a routerLink="myTeam" routerLinkActive="routAct"><span class="fa fa-briefcase mr-3"></span> My Team</a>
    </li>
    <li>
      <a routerLink="template" routerLinkActive="routAct"><span class="fa fa-sticky-note mr-3"></span>Templates</a>
    </li>
    <li>
      <!-- <a routerLink="order" routerLinkActive="routAct"><span class="fa fa-suitcase mr-3"></span>Order</a> -->
      <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"
      routerLink="order">
        <span class="fa fa-suitcase mr-3"></span>Orders
      </a>
    </li>
    <!-- <li>
      <a href="#" routerLinkActive="routAct" routerLink="invoice"><span class="fa fa-cogs mr-3"></span>Invoice</a>
    </li> -->
    <!-- <li>
      <a href="#" routerLinkActive="routAct"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
    </li> -->
  </ul>
</div>
