<form>
    <div class="row">
        <div class="col-md-8">
            <div class="pl-2">
                <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Product Name">
            </div>
            <div class="pt-3 pl-2">
                <ejs-richtexteditor name="description" [(ngModel)]="description"></ejs-richtexteditor>
            </div>
            <div class="row pt-3 pl-2">
                <div class="col-12">
                    <div id="accordionData">
                        <div class="card">
                            <div class="card-header" id="headingData">
                                <div>
                                    <h5 class="mb-0">
                                        <button class="btn pr-2 primary-color" data-toggle="collapse" data-target="#collapseData" aria-expanded="true" aria-controls="collapseData">
                 Product Data
               </button>
                                        <select id="sel1" class="custom-option primary-color" name="optionValue" [(ngModel)]="optionValue">
                <option disabled selected value="undefined">Product Type</option>  
                <option value="simple"><a>Simple Product</a></option>
                <option value="variable"><a> Variable Product</a></option>
                <!-- <option value="grouped">Grouped Product</option> -->
                <!-- <option value="external">External/Affilate Product</option> -->
              </select>
                                    </h5>
                                </div>
                            </div>
                            <div *ngIf="optionValue == 'simple' || this.editData.type=== 'simple'">
                                <app-product-simple (simpleData)="receivedSimpleData($event)" [childMessage]="editData"></app-product-simple>

                            </div>

                            <!-- four div start here  -->
                            <div *ngIf="optionValue == 'variable' || this.editData.type=== 'variable'">
                                <app-product-variable (variableData)="receivedVariableData($event)" (attributeData)="receivedVariable($event)" (imageData)="receivedImage($event)" [childMessage]="editData">
                                </app-product-variable>
                            </div>
                            <!-- four div end here  -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- second  -->
            <div class="row pt-3 pl-2">
                <div class="col-12">
                    <div id="accordionShort">
                        <div class="card">
                            <div class="card-header" id="headingShort">
                                <div data-toggle="collapse" data-target="#collapseShort" aria-expanded="true" aria-controls="collapseShort">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link primary-color" data-toggle="collapse" data-target="#collapseShort" aria-expanded="true" aria-controls="collapseShort">
                   Product Short description
                 </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseShort" class="collapse show" aria-labelledby="headingShort" data-parent="#accordionShort">
                                <div class="card-body">
                                    <ejs-richtexteditor name="short_description" [(ngModel)]="short_description"></ejs-richtexteditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete from here  -->
        <div class="col-md-4">
            <app-product-side (sendImage)="receivedMessageHandler($event)" (sendCategory)="receivedCategory($event)" (sendDraft)="receivedStatus($event)" [childMessage]="editData">
            </app-product-side>
        </div>
        <!-- to here  -->
        
    </div>
    <div>
        <p>Upload On</p>
        <ul>
            <li>
                <input type="checkbox" [(ngModel)]="wooCom" name="wooCom"><span class="pl-2">WooCommerce</span> 
            </li>
            <li>
                <input type="checkbox" [(ngModel)]="eBay" name="eBay"><span class="pl-2">eBay</span> 
            </li>
        </ul>
    </div>
    <div class="pt-3" *ngIf="!isEdit">
        <button type="submit" class="btn text-right btn-warning" (click)="onSubmit()">Save Product</button>
    </div>
    <div class="pt-3" *ngIf="isEdit">
        <button type="submit" class="btn text-right btn-warning" (click)="onUpdate()">Update Product</button>
    </div>
    
</form>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>