	/* Coded with love by Mutiullah Samim */
    .rowStyleForSignup{
        margin-left: 0 !important;
        margin-right: 0  !important;
    }
    .signup-container{
        padding-top: 110px;
        padding-left: 100px;
    }
    .card-container{
        padding-top: 110px;
        padding-left: 65px;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 50%;
        background: #FAC008 !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .border-radius{
        border-radius: 2rem;
    }
  .card-length{
      width: 550px;
      height: 100%;
  }
  .bg-color{
    background-color: black;
    max-height: 100%;
    height: 100%;
   
}

.inputStyleForSignup{
    border: #343a40;
    border-radius: 2rem;
    /* box-shadow: 0 0 0 0.0rem #343a40; */
}

.inputStyleForSignup{
    box-shadow: 0 0 0 0.0rem #343a40;
}

.textColStyleForLogin{
    padding-left: 0;
    
}
 
@media only screen and (max-width: 319px) and (min-width: 280px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 374px) and (min-width: 320px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 410px) and (min-width: 375px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}


@media only screen and (max-width: 413px) and (min-width: 411px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 567px) and (min-width: 414px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 639px) and (min-width: 568px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 639px) and (min-width: 568px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 730px) and (min-width: 640px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 730px) {
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 100%;
        height: 100%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 14px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        padding-right: 0;
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}


@media only screen and (max-width: 1023px) and (min-width: 768px){
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 90%;
        height: 92%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 60px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        /* padding-right: 0; */
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}


@media only screen and (max-width: 1365px) and (min-width: 1024px){
    .fromColStyleForSignup{
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 28px;
    }

    .card-length{
        width: 89%;
        height: 92%;
    }

    .signup-container{
        padding-top: 110px;
        padding-left: 72px;
        padding-bottom: 10%;
    }

    .inputStyleForSignup{
        border: #343a40;
        box-shadow: #343a40;
    }
    

    .textColStyleForLogin{
        padding-left: 0;
        /* padding-right: 0; */
    }

    .card-container{
        padding-top: 110px;
        padding-left: 18px;
    }
}
