<!-- <div *ngIf="optionValue == 'simple'">
  <div id="collapseData" class="collapse show" aria-labelledby="headingData" data-parent="#accordionData"> -->
    <div class="card-body">
      <form #myForm="ngForm">
     <div class="row">
       <div class="col-4">
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
           <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">
             <span class="fa fa-wrench mr-3"></span>General
           </a>
           <a class="nav-link" id="v-pills-inventory-tab" data-toggle="pill" href="#v-pills-inventory" role="tab" aria-controls="v-pills-inventory" aria-selected="false">
             <span class="fa fa-home mr-3"></span>Inventory
           </a>
           <a class="nav-link" id="v-pills-shipping-tab" data-toggle="pill" href="#v-pills-shipping" role="tab" aria-controls="v-pills-shipping" aria-selected="false">
             <span class="fa fa-truck mr-3" data-fa-transform="rotate-90"></span>Shipping
           </a>
           <a class="nav-link" id="v-pills-linked-tab" data-toggle="pill" href="#v-pills-linked" role="tab" aria-controls="v-pills-linked" aria-selected="false">
             <span class="fa fa-link mr-3"></span>Linked Product
           </a>
           <a class="nav-link" id="v-pills-attributes-tab" data-toggle="pill" href="#v-pills-attributes" role="tab" aria-controls="v-pills-attributes" aria-selected="false">
             <span class="fa fa-credit-card mr-2"></span> Attributes
           </a>
           <!-- <a class="nav-link" id="v-pills-variation-tab" data-toggle="pill" href="#v-pills-variation" role="tab" aria-controls="v-pills-variation" aria-selected="false">
             <span class="fa fa-th-large mr-3"></span>Variation
           </a> -->
           <a class="nav-link" id="v-pills-advanced-tab" data-toggle="pill" href="#v-pills-advanced" role="tab" aria-controls="v-pills-advanced" aria-selected="false">
             <span class="fa fa-cog mr-3"></span>Advanced
           </a>
           <!-- <a class="nav-link" id="v-pills-option-tab" data-toggle="pill" href="#v-pills-option" role="tab" aria-controls="v-pills-option" aria-selected="false">
             <span class="fa fa-plug mr-3"></span>Get More Option
           </a> -->
         
         </div>
       </div>
       <div class="col-8">
         <div class="tab-content" id="v-pills-tabContent">
           <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
             <div class="form-group">
              <!-- Data= {{getCurrentModel()}} -->
               <div class="row">
                 <div class="col-4">
                   <label for=""> Regular price </label>
                 </div>
                 <div class="col-8">
                   <input type="text" name="regular_price" (change)="sendData()" [(ngModel)]="productSimple.regular_price">
                 </div>
               </div>
             </div>

             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Sale price </label>
                 </div>
                 <div class="col-8">
                   <input type="text"  (change)="sendData()" name="sale_price" [(ngModel)]="productSimple.sale_price">
                 </div>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">

             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for="">SKU </label>
                 </div>
                 <div class="col-8">
                   <input type="text" (change)="sendData()" name="sku" [(ngModel)]="productSimple.sku">
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Manage stock? </label>
                 </div>
                 <div class="col-8">
                   <input type="checkbox" (change)="sendData()" name="manage_stock"  [(ngModel)]="productSimple.manage_stock">
                   <span class="text-size pr-1">Enable stock management at product level</span>
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Stock Status</label>
                 </div>
                 <div class="col-8">
                   <select class="custom-option" (change)="sendData()" name="stock_status" [(ngModel)]="productSimple.stock_status">
                     <option selected  value="instock">In stock</option>
                     <option value="outOfStock">Out of Stock</option>
                     <option value="onBackorder">On backorder</option>
                   </select>
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for="">Sold individually</label>
                 </div>
                 <div class="col-8">
                   <input type="checkbox" (change)="sendData()" name="sold_individually" [(ngModel)]="productSimple.sold_individually">
                   <span class="text-size pr-1">Enable this to only allow one of this item to be bought in a single order</span>
                 </div>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="v-pills-shipping" role="tabpanel" aria-labelledby="v-pills-shipping-tab">
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Weight (Kg)</label>
                 </div>
                 <div class="col-8">
                   <input type="text"(change)="sendData()" name="weight" [(ngModel)]="productSimple.weight">
                 </div>
               </div>
             </div>
             <fieldset ngModelGroup="dimensions">
              <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Dimensions (cm)</label>
                 </div>
                 <div class="col-8"ngDefaultControl (change)="sendData()" ngModelGroup="productSimple.dimensions">
                   <input type="text" class="m-1" placeholder="Length" (change)="sendData()" name="length" [(ngModel)]="productSimple.dimensions.length">
                   <input type="text" class="m-1" placeholder="Width"  (change)="sendData()" name="width" [(ngModel)]="productSimple.dimensions.width">
                   <input type="text" class="m-1" placeholder="Height" (change)="sendData()" name="height" [(ngModel)]="productSimple.dimensions.height">
               </div>
               </div>
              </div>
             </fieldset>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Shipping class</label>
                 </div>
                 <div class="col-8">
                   <input type="text" (change)="sendData()" name="shipping_class" [(ngModel)]="productSimple.shipping_class">
                 </div>
               </div>
             </div>

           </div>
           <div class="tab-pane fade" id="v-pills-linked" role="tabpanel" aria-labelledby="v-pills-linked-tab">
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Upsells</label>
                 </div>
                 <div class="col-8">
                   <input type="text" (change)="sendData()" name="upsells"  [(ngModel)]="productSimple.upsells">
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Cross-sells</label>
                 </div>
                 <div class="col-8">
                   <input type="text" (change)="sendData()" name="cross_sell" [(ngModel)]="productSimple.cross_sell">
                 </div>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="v-pills-attributes" role="tabpanel" aria-labelledby="v-pills-attributes-tab">
             <div class="form-group">
               <div class="row">
                 <div class="col-6">
                   <!-- <select class="form-control"  id="sel1" formControlName ="attribute">
                     <option>Custom product attribute</option>
                     <option>Color</option>
                     <option>Size</option>
                   </select> -->
                   <select  id="sel1" (change)="sendData()" class="custom-option"  name="attribute" [(ngModel)]="productSimple.attribute"> <!--[(ngModel)]="optionAtt"-->
                     <option value="custom" selected><a>Custom product attribute</a></option>
                     <option value="color">Color</option>
                     <option value="size"><a>Size</a></option>
                   </select>
                 </div>
                 <!-- <div class="col-2">
                   <button class="btn btn-primary">Add</button>
                 </div> -->
               </div>
             </div>
             <div *ngIf="optionAtt == 'custom'">
               <div class="row">
                 <div class="col-sm-6"></div>
                 <div class="col-sm-6"></div>
               </div>

               <div class="row">
                 <div class="col-sm-6"></div>
                 <div class="col-sm-6"></div>
               </div>
               <div class="row">
                 <div class="col-sm-6"></div>
                 <div class="col-sm-6"></div>
               </div>
             </div>
             <div *ngIf="optionAtt == 'color'">
               <h4>Color</h4>
               <div class="row">
                 <div class="col-sm-6"> Name:</div>
                 <div class="col-sm-6">Values</div>
               </div>

               <div class="row">
                 <div class="col-sm-6"> Color</div>
                 <div class="col-sm-6">
                   <input 
                         [style.background]="colorList[0].value" 
                         [(colorPicker)]="colorList[0].value"
                         [cpOKButton] = "true"
                         [cpOKButtonText] = "'Select'"
                         [cpCancelButton] = "true"
                         [cpSaveClickOutside] = "'false'"
                         [cpDisableInput]="false"
                         [cpAlphaChannel]="'disabled'" 
                         [cpOutputFormat]="'hex'"
                         [cpPresetColors]="presetValues"
                         [cpAddColorButton]="true" 
                     />
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-6">
                   <input type="checkbox" name="" id="">
                   Visible on the product page
                 </div>
                 <div class="col-sm-6"></div>
               </div><div class="row">
                 <div class="col-sm-6">
                   <input type="checkbox" name="" id="">
                   Used for variations
                 </div>
                 <div class="col-sm-6"></div>
               </div>

             </div>
             <div *ngIf="optionAtt == 'size'">
               <h4>Size</h4>
               <div class="row">
                 <div class="col-sm-6"> Name :</div>
                 <div class="col-sm-6"> Values</div>
               </div>

               <div class="row">
                 <div class="col-sm-6">Size</div>
                 <div class="col-sm-6">
                   <input type="text">
                 </div>
               </div>

               <div class="row">
                 <div class="col-sm-6">
                   <input type="checkbox" name="" id="">
                   Visible on the product page
                 </div>
                 <div class="col-sm-6"></div>
               </div>
               <div class="row">
                 <div class="col-sm-6">
                   <input type="checkbox" name="" id="">
                   Used for variations
                 </div>
                 <div class="col-sm-6"></div>
               </div>

             </div>
             <div>
               <button>Save Attributes</button>
             </div>
           </div>
           <!-- <div class="tab-pane fade" id="v-pills-variation" role="tabpanel" aria-labelledby="v-pills-variation-tab">...</div> -->
           <div class="tab-pane fade" id="v-pills-advanced" role="tabpanel" aria-labelledby="v-pills-advanced-tab">
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Purchase note</label>
                 </div>
                 <div class="col-8">
                   <input name="purchase_note" (change)="sendData()" [(ngModel)]="productSimple.purchase_note">
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for=""> Menu order</label>
                 </div>
                 <div class="col-8">
                   <input type="number" (change)="sendData()" name="menu_order" [(ngModel)]="productSimple.menu_order">
                 </div>
               </div>
             </div><div class="form-group">
               <div class="row">
                 <div class="col-4">
                   <label for="">Enable reviews</label>
                 </div>
                 <div class="col-8">
                   <input type="checkbox" (change)="sendData()" name="enable_reviews" [(ngModel)]="productSimple.enable_reviews">
                 </div>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="v-pills-option" role="tabpanel" aria-labelledby="v-pills-option-tab">...</div>
         </div>
       </div>
     </div>
     </form>
    </div>
  <!-- </div>
</div> -->