<div class="header"> 
  <app-header></app-header>
</div>

<!-- <div class="row">

  <div class="col-md-2">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="col-md-10">
    <div class="side">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- <div class="row"> -->
  <!-- <div class="col-md-2"> -->
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  <!-- </div> -->
  <!-- <div class="col-md-10"> -->
    <div>
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="side">
      <router-outlet></router-outlet>
    </div>
  <!-- </div> -->

<!-- </div> -->
