.side{
    padding-left: 18%;
    padding-right: 3%;
}

@media only screen and (max-width: 767px){
    .sidebar{
        display: none;
    }
    breadcrumb{
        display: none;
    }
}

@media only screen and (max-width: 319px) and (min-width: 280px){
    .side{
        padding: 10%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
    .side{
        padding: 10%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 410px) and (min-width: 375px) {
    .side{
        padding: 10%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 413px) and (min-width: 411px) {
    .side{
        padding: 10%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 567px) and (min-width: 414px) {
    .side{
        padding: 10%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 639px) and (min-width: 568px) {
    .side{
        padding: 5%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 730px) and (min-width: 640px) {
    .side{
        padding: 5%;
        justify-content: center;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 767px) and (min-width: 731px) {
    .side{
        padding: 5%;
        justify-content: center;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .side{
        padding-left: 30%;
        padding-right: 3%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .side{
        padding-left: 24%;
        padding-right: 3%;
    }

}

@media only screen and (max-width: 1365px) and (min-width: 1201px) {
    .side{
        padding-left: 18%;
        padding-right: 3%;
    }

}