/* You can add global styles to this file, and also import other style files */
.border-radius{
    border-radius: 2rem;
}
/* :host /deep/ ng2-smart-table-title > a { color: red; } */
ul {
    list-style-type: none;
}
.primary-color{
    color: #BE912F;
}