<!-- <ng2-smart-table [settings]="setting" [source]="dataTable"  editable="true" (custom)="onCustomAction($event)">
</ng2-smart-table> -->
<div *ngFor="let data of dataTable">
  
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <wizard>
            <wizard-step stepTitle="Package Details" class="title-text" [canExit]='true'>
              <div class="mt-5">
                <div class="row">
                <div class="col-md-6">
                  <h4>Package Details <span class="text-danger">(edit)</span></h4>
                  <p><span>Package Type:</span> Carton</p>
                  <p><span>Weight:</span> {{dimensions?.weight}}Kg</p>
                  <p><span>Dimension:</span> {{dimensions?.width}}cm x {{dimensions?.height}}cm x {{dimensions?.length}}cm</p>
                  <p><span>Quantity:</span> 1</p>
                </div>
                </div>
              </div>
              <button type="button" class="pre-btn btn" nextStep>Next Step</button>
            </wizard-step>
            <wizard-step stepTitle="Select Quote" class="title-text" awOptionalStep>
              <div class="m-3">
              <h5>Please select from the list of available services</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Carrier</th>
                    <th scope="col">Estimated Delivery</th>
                    <th scope="col">Earliest Pickup</th>
                    <th scope="col">Price <span class="text-danger">($)</span></th>
                    <th scope="col">Booking</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quote of quoteData">
                    <td>Hunter Express</td>
                    <td>{{quote.etd}}</td>
                    <td>{{quote.serviceName}}</td>
                    <td>{{quote.fee}}</td>
                    <td><button class="pre-btn btn" nextStep (click)="bookQuote()">Book Now</button></td>
                  </tr>
                  <tr *ngFor="let quote of sendleQuotesData">
                    <td>Sendle</td>
                    <td>{{quote.eta.days_range[1]}} Days</td>
                    <td>{{quote.plan_name}}</td>
                    <td>{{quote.quote.gross.amount}}</td>
                    <td><button class="pre-btn btn" nextStep (click)="bookSendleQuote(quote)">Book Now</button></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="pre-btn btn" previousStep>Go to previous step</button>
              <button type="button" class="pre-btn btn" nextStep>Go to next step</button>
            </div>
            </wizard-step>
            <wizard-step stepTitle="Book Job" class="title-text" awOptionalStep>
              <div class="mt-5">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Estimated Delivery</th>
                      <th scope="col">Price <span class="text-danger">($)</span></th>
                      <th scope="col">Tracking Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{bookJob?.etd}}</td>
                      <td>{{bookJob?.fee}}</td>
                      <td>{{bookJob?.trackingNumber}}</td>
                    </tr>
                    <tr>
                      <td>{{sendleBookJob?.scheduling.estimated_delivery_date_maximum}}</td>
                      <td>{{sendleBookJob?.price.gross.amount}}</td>
                      <td>{{sendleBookJob?.tracking_url}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button type="button" class="pre-btn btn" previousStep>Go to previous step</button>
              <button type="button" class="pre-btn btn" nextStep>Go to next step</button>
            </wizard-step>
            <wizard-step stepTitle="Payment" class="title-text">
              <div class="mt-5">
                Payment
                <div>
                  <ngx-stripe-card
      [stripe]="stripe"
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <button type="submit" (click)="createToken()">
      CREATE TOKEN
    </button>
    <span *ngIf="token">Token Created: {{ token }}</span>
                </div>
              </div>
              <button type="button" class="pre-btn btn" previousStep>Previous Step</button>
              <button type="button" class="pre-btn btn" (click)="onFinish(data.id)">Finish</button>
            </wizard-step>
          </wizard>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- for ng bootstrap -->
<form>
  <div class="form-group form-inline">
      Search: <input class="form-control ml-2 border-radius" type="text" placeholder="Find here" name="searchTerm" [(ngModel)]="service.searchTerm"/>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="platform" (sort)="onSort($event)">Platform</th>
      <th scope="col" sortable="billingName" (sort)="onSort($event)">Order</th>
      <th scope="col" sortable="dateOfBilling" (sort)="onSort($event)">Date</th>
      <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
      <th scope="col" sortable="total" (sort)="onSort($event)">Total</th>
      <th scope="col" >Details</th>
      <th scope="col" >Invoice/Frights</th>
      <!-- <th scope="col" >Frights</th> -->
    </tr>
    </thead>
    <tbody>
      <!-- [class.color]='order.rowSpan < 1' -->
    <tr *ngFor="let order of countries$ | async" 
    [ngStyle]="{'background-color': (2<order.rowSpan) ? 'white' : 'white'}">
      <td>
        <ngb-highlight [result]="order.platform" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="order.billingName" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="order.dateOfBilling | date:'MMM d, y'" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="order.status | titlecase " [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="order.total" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <a class="custom-link" (click)="openOrderDetails(order)">Order</a>
      </td>
      <td *ngIf=" order.rowSpan > 0 && order.isExist">
        <a class="custom-link" (click)="openInvoice(order.invoiceId)">Invoice</a>
      </td>
      <td *ngIf="order.rowSpan > 0 && !order.isExist" [attr.rowspan]="order.rowSpan">
        <a (click)="openModal(order)" class="custom-link">Frights</a>
      </td>
    </tr>
    </tbody>

  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" class="mx-auto">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
  </div>
  <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
</form>

<!-- for order modal  -->
<button id="openOrderModal" [hidden]="true" data-toggle="modal" data-target="#myOrderModal">Open Modal</button>
<div class="modal fade" id="myOrderModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Order Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body containter bg-light">
          <div class="row">
            <div class="col-md-6">
                <img [src]="orderDetailRes?.images.length > 0 ? orderDetailRes?.images : 'assets/download.png'" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-5">
                  <span class="text-warning">Name :</span>
                </div>
                <div class="col-md-7">
                 <p>{{orderDetailData?.billingName}}</p>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-5">
                  <span class="text-warning">Platform :</span>
                </div>
                <div class="col-md-7">
                  <p>{{orderDetailData?.platform}}</p>
                </div>
              </div>
  
  
              <div class="row">
                <div class="col-md-5">
                  <span class="text-warning">Date :</span>
                </div>
                <div class="col-md-7">
                  <p>{{orderDetailData?.dateOfBilling | date:'MMM d, y'}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span class="text-warning">Price :</span>
                </div>
                <div class="col-md-7">
                  <p>$ {{orderDetailData?.total}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span class="text-warning">Status :</span>
                </div>
                <div class="col-md-7">
                  <p>{{orderDetailData?.status}}</p>
                </div>
              </div>
                
            </div>
          </div>
          <hr>
        <div class="row pt-4">
          <div class="col-md-6">
            <h4>Dimensions</h4>
            <div class="row">
              <div class="col-md-4">
                <span class="text-warning">Length</span>
              </div>
              <div class="col-md-8">
               <p>{{orderDetailRes?.length > 0 ? orderDetailRes?.length : 'N/A'}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <span class="text-warning">Width</span>
              </div>
              <div class="col-md-8">
                 <p>{{orderDetailRes?.length > 0 ? orderDetailRes?.width : 'N/A'}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <span class="text-warning">Height</span>
              </div>
              <div class="col-md-8">
                <p>{{orderDetailRes?.length > 0 ? orderDetailRes?.height : 'N/A'}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Shipping Address</h4>
            <div class="row">
              <div class="col-md-5">
                <span class="text-warning">Address :</span>
              </div>
              <div class="col-md-7">
               <p>{{orderDetailData?.billing.address_1.length > 0 ? orderDetailData.billing.address_1 : 'N/A'}}
               </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <span class="text-warning">City :</span>
              </div>
              <div class="col-md-7">
                <p>{{orderDetailData?.billing.city.length > 0 ? orderDetailData.billing.city : 'N/A'}}</p>
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <span class="text-warning">PostCode :</span>
              </div>
              <div class="col-md-7">
                <p>{{orderDetailData?.billing.postcode.length > 0 ? orderDetailData.billing.postcode : 'N/A'}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
