<div class="modal custom fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngFor="let product of products">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pt002</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h4>Quilted Quarter-Zip Pullover</h4>
            </div>
            <div class="col-md-12">
              <span>Item #2154856</span>
              <i class="fa fa-star-o pl-3"></i>
              <i class="fa fa-star-o pl-1"></i>
              <i class="fa fa-star-o pl-1"></i>
              <i class="fa fa-star-o pl-1"></i>
              <i class="fa fa-star-o pl-1"></i>

              <span class="pl-3"> 215 : Reviews</span>
            </div>
            
          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                      <div *ngFor="let imageButton of imageButtons; let i = index" (click)="onClick(imageButton)" >
                        <img src="{{imageButton.src}}" class="p-2" alt="">
                      </div>
                      
                </div>
                <div class="col-md-9">
                  <img src="{{imageSrc}}" class="zoom-img" alt="">
                  <div class="row">
                    <!-- <i class="fa fa-plus-circle"></i> -->
                    <!-- <p>Tab image to zoom</p> -->
                  </div>
                </div>
                
                
                </div>
            </div>
            <div class="col-md-6">
              <p>$ 200 <small>Free Shipping upto $50</small></p>
              <p class="remove-space">Item: Regular</p>
              <button class="btn-theme">Regular</button>
              <button class="m-1 btn-theme">Casual</button>
              <button class="m-1 btn-theme">Plus</button>
              <div>
                <p class="remove-space">size</p>
                <button class="btn-theme">X-Small</button>
                <button class="m-1 btn-theme">Small</button>
                <button class="m-1 btn-theme">Medium</button>
                <button class="m-1 btn-theme">Large</button>
                <button class="btn-theme">X-Large</button>
              </div>
              <div>
                <p class="remove-space">Color</p>
                <button class="m-1 bg-danger btn"></button>
                <button class="m-1 bg-warning btn"></button>
                <button class="m-1 bg-success btn" ></button>
                <button class="m-1 bg-primary btn"></button>
                <button class="m-1 bg-warning btn"></button>
                <button class="m-1 bg-success btn" ></button>
                <button class="m-1 bg-primary btn"></button>
              </div>
              <div>
                <label for="" class="pr-2">Quantity</label>
                <input type="number" name="" value="0" id="">
              </div>
              <div class="m-3">
                <a  class="btn btn-warning"> Add to Bag</a>
                <a href="" class="pl-4">Add to Wish List</a>
              </div>
            </div>
 
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>